.addToy
{
    background-color: #8a3737;
    padding: 10px 30px;
    border: none;
    color:azure;
    font-weight: 600;
}
.inputsToy{
    
    padding: 10px;
    width: 550px;
    border-color: rgb(202, 27, 27);
}
.inputsToyArea{
    padding: 10px;
    width: 550px;
    height: 150px;
    border-color:  rgb(202, 27, 27);
}